main {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.text-group {
	border: 1px solid black;
	background: rgb(168, 168, 168);
	display: flex;
	flex-direction: column;
	padding: 1rem 1rem;
	gap: 0.5rem;
	width: 95%;
	font-size: large;
	border-radius: 1rem;
}

/* .text::before {
	content: "- ";
} */

.text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.text {
	padding-left: 1rem;
}

.text::after {
	content: ' -Click to copy.';
	color: #ffffffb8;
}

.desc::after {
	content: ":";
}

a {
	color: rgb(0, 35, 148);
}

strong {
	/* color: #f7ff86; */
}