*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

body {
	flex-grow: 1;
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: rgb(27, 20, 20);
	background: rgb(179, 199, 223);
}

main {
	background: rgb(235, 251, 255);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-block: 1rem;
}

.result {
	background: rgb(163, 169, 199);
	display: flex;
	gap: 1rem;
	min-height: 4rem;
	border-radius: 5px;
	padding: 0.4rem;
	border-radius: 0.5rem 0.5rem 0 0;
	border: 1px solid black;
}

#escalation {
	flex-grow: 1;
	min-height: inherit;
	text-wrap: wrap;
	caret-color: transparent;
}

#escalation::after {
	content: " -Click to copy.";
	color: black;
	opacity: 0.5;
}

.result,
#escalation,
.Selections {
	cursor: pointer;
	width: 50%;
}

.Selections {
	display: flex;
	flex-direction: column;
}

.selection,
.additional-input {
	border: 1px solid black;
	background: rgba(161, 161, 161, 0.623);
	min-height: 3rem;
	height: auto;
	display: flex;
	align-items: center;
	padding: 0.4rem;
	caret-color: transparent;
}

button#reset {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #fabfaf 5%, #ff775c 100%);
	background-color: #fabfaf;
	border-radius: 3px;
	border: 1px solid #f55e3f;
	display: inline-block;
	cursor: pointer;
	color: #120e12;
	font-family: Arial;
	font-size: 13px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #6b2304;
}
button#reset:hover {
	background: linear-gradient(to bottom, #ff775c 5%, #fabfaf 100%);
	background-color: #ff775c;
}
button#reset:active {
	position: relative;
	top: 1px;
}

button#reset {
	cursor: pointer;
	padding: 1rem;
	border-radius: 10px;
	border: 1.5px solid grey;
}

.checked {
	background: rgb(184, 236, 184);
}

footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background: rgb(53, 53, 53);
	color: white;
}

.additional-input {
	display: flex;
	flex-direction: column;
	align-items: start;
	flex-grow: 1;
	gap: 0.5rem;
	cursor: default;
}

.input-fields {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
	flex-shrink: 1;
}

input {
	padding: 0.2rem;
	border-radius: 0.3rem;
	border: none;
	background: rgb(247, 247, 247);
	padding-inline: 0.3rem;
	caret-color: black;
}

button.addMore {
	background-color: #abf5bf;
	border-radius: 0.6rem;
	border: 1px solid #424a43;
	display: inline-block;
	cursor: pointer;
	color: #3d1e3d;
	padding: 0.3rem;
}
button.addMore:hover {
	background-color: #306115;
}
button.addMore:active {
	position: relative;
	top: 1px;
}
